* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f0f0f0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flex {
  display: flex;
  gap: 10px;
}
/* Sign up */

.cart1 {
  width: 90%;
  margin: 10% auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.11);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cart11 {
  padding: 3.2rem 8rem;
}
.cart11 h1 {
  font-size: 4.6rem;
  padding: 1.6rem 0;
  color: #2e2e2e;
  font-weight: 500;
}
.cart11 span {
  font-size: 2.4rem;
  color: #2e2e2e;
  border-bottom: 3px solid #f0f0f0;
}
.cart11 span:hover {
  border-bottom: 3px solid blue;
}
.cart11 label {
  display: block;
  font-size: 1.8rem;
  color: gray;
  padding: 1rem 0;
}
.cart11 input,
.cart11 select,
.cart11 button {
  width: 100%;
  font-size: 2.4rem;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #f0f0f0;
  margin-bottom: 1rem;
}

.cart11 input:hover,
.cart11 select:hover {
  background-color: #c4c4c4;
}
.cart11 button {
  border: 0;
  background-color: #00008b;
  color: white;
  padding: 1.1rem 0;
}
.cart11 button:hover {
  background-color: #0000c5;
}
.cart11 p {
  text-align: center;
  font-size: 1.8rem;
}
.cart12 {
  position: relative;
}
.cart12 img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.two12:hover img {
  transform: scale(1.1);
}
.cart12 i,
.cart12 p {
  color: blue;
  position: absolute;
  right: 7%;
  top: 6%;
  font-size: 2.4rem;
}
.cart12 p {
  left: 7%;
}
/* /Sign up */
/* Sign up error */

.box1 {
  width: 90%;
  margin: 10% auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.11);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
}
.box11 {
  padding: 3.2rem 8rem;
}
.box11 h1 {
  font-size: 4.4rem;
  padding: 1.6rem 0;
  color: #2e2e2e;
  font-weight: 500;
}
.box11 span {
  font-size: 2.4rem;
  color: #2e2e2e;
  border-bottom: 4.8px solid #f0f0f0;
}
.box11 span:hover {
  border-bottom: 4.8px solid blue;
}
.box11 label {
  display: block;
  font-size: 1.8rem;
  color: gray;
  padding: 1rem 0;
}
.box11 input,
.box11 select,
.box11 button {
  width: 100%;
  font-size: 2.4rem;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1.6px solid gray;
  background-color: #f0f0f0;
  margin-bottom: 1.6rem;
}

.box11 input:hover,
.box11 select:hover {
  background-color: #c4c4c4;
}
.box11 button {
  border: 0;
  background-color: #00008b;
  color: white;
  padding: 1.1rem 0;
}
.box11 button:hover {
  background-color: #0000c5;
}
.box11 p {
  text-align: center;
  font-size: 1.8rem;
}
.box12 {
  position: relative;
}
.box12 img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.two12:hover img {
  transform: scale(1.1);
}
.box12 i,
.box12 p {
  color: blue;
  position: absolute;
  right: 7%;
  top: 6%;
  font-size: 2.4rem;
}
.box12 p {
  left: 7%;
}
/* /Sign up error */
/* Sign up add */
.add1 {
  width: 90%;
  margin: 10% auto;
  background-color: white;
  border-radius: 4.8px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.11);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
}
.add11 {
  padding: 3.2rem 8rem;
}
.add11 h1 {
  font-size: 4.4rem;
  padding: 1.6rem 0;
  color: #2e2e2e;
  font-weight: 500;
}
.add11 span {
  font-size: 2.4rem;
  color: #2e2e2e;
  border-bottom: 3px solid #f0f0f0;
}
.add11 span:hover {
  border-bottom: 3px solid blue;
}
.add11 label {
  display: block;
  font-size: 1.8rem;
  color: gray;
  padding: 1rem 0;
}
.add11 input,
.add11 select,
.add11 button {
  width: 100%;
  font-size: 2.4rem;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #f0f0f0;
  margin-bottom: 1rem;
}

.add11 input:hover,
.add11 select:hover {
  background-color: #c4c4c4;
}
.add11 button {
  border: 0;
  background-color: #ffa500;
  color: white;
  padding: 1.1rem 0;
}
.add11 button:hover {
  background-color: #ffbf48;
}
.add11 p {
  text-align: center;
  font-size: 1.8rem;
}
.add12 {
  position: relative;
  grid-row: 1;
}
.add12 img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.two12:hover img {
  transform: scale(1.1);
}
.add12 i,
.add12 p {
  color: blue;
  position: absolute;
  right: 7%;
  top: 6%;
  font-size: 2.4rem;
}
.add12 p {
  left: 7%;
}
/* /Sign up add */
/* Sign up last, sign up two */
.two1,
.last1 {
  width: 90%;
  margin: 10% auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.11);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.two11,
.last11 {
  padding: 3.2rem 8rem;
}
.two11 h1,
.last11 h1 {
  font-size: 4.4rem;
  padding: 1.6rem 0;
  color: #2e2e2e;
  font-weight: 500;
}
.two11 span,
.last11 span {
  font-size: 2.4rem;
  color: #2e2e2e;
  border-bottom: 3px solid #f0f0f0;
}
.two11 span:hover,
.last11 span:hover {
  border-bottom: 3px solid blue;
}
.two11 label,
.last11 label {
  display: block;
  font-size: 1.8rem;
  color: gray;
  padding: 1rem 0;
}
.two11 input,
.two11 select,
.two11 button,
.last11 input,
.last11 button {
  width: 100%;
  font-size: 2.4rem;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: #f0f0f0;
  margin-bottom: 1.6rem;
}

.two11 input:hover,
.two11 select:hover,
.last11 input:hover {
  background-color: #c4c4c4;
}
.two11 button,
.last11 button {
  border: 0;
  background-color: #ffa500;
  color: white;
  padding: 1.1rem 0;
}
.two11 button:hover,
.last11 button:hover {
  background-color: #ffbf48;
}
.two11 p,
.last11 p {
  text-align: center;
  font-size: 1.8rem;
}
.two12,
.last12 {
  position: relative;
  grid-row: 1;
  overflow: hidden;
}
.two12 img,
.last12 img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.two12:hover img,
.last12:hover img {
  transform: scale(1.1);
}
.two12 i,
.two12 p,
.last12 i,
.last12 p {
  color: blue;
  position: absolute;
  right: 7%;
  top: 6%;
  font-size: 2.4rem;
}
.two12 p,
.last12 p {
  left: 7%;
}
/* /Sign up two, last up two */
